#!/bin/bash

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias grep='grep --color'
alias lla='ls -la'
alias la='ls -a'
alias lactl='ls -lactl'
alias ls='ls --group-directories-first --color --human-readable'
alias sd='systemctl'
