# vim: set ft=sh ts=2 sw=2 et:
#
# ~/.aliases
#

alias grep='grep --color'
alias sd='systemctl'
alias ls='ls --group-directories-first --color --human-readable -F'
alias dir='ls --group-directories-first --color --human-readable -F'
alias mv='mv -i'
alias feh="feh --geometry 1900x1060 --cycle-once --draw-tinted --preload -Y -. -B black --info \"echo -e 'Name:%n [%u/%l] Filesize:%S Size:%w/%h Type:%t'\""
alias wodim='wodim -eject dev=/dev/sr0 speed=4 -v'
alias mkisofs='mkisofs -allow-leading-dots -allow-lowercase -ldots -allow-multidot -relaxed-filenames -max-iso9660-filenames'
alias su='echo -ne "\e[0;31m" && su -s /bin/zsh -'
alias sudo='echo -ne "\e[0;31m" && sudo'
alias lock='slock'
