.config/Code
.config/fontconfig
.config/.zcompdump
.config/.zsh_history
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions
.config/less_history
.config/zsh_history
.config/rusty-krab-manager
.config/chromium
.config/browsh
.config/proxies
.config/weechat
.config/elinks/globhist
.config/elinks/gotohist
.config/elinks/searchhist
.config/glib-2.0
.config/lfm
.config/qutebrowser
.config/weechat
.config/elinks
.config/zathura/zathurarc.old
.config/wiki-tui
.config/neofetch
.config/task
.config/pass
.config/pulse
.config/mpd
.config/ncmpcpp
.config/neomutt/postponed
.config/redshift
.config/systemd
.config/xmonad
.config/.bombadillo.ini
.config/Unknown Organization
.config/amfora
.config/discordo.toml
.config/nvim/plugged
.config/zoomus.conf
.local/lib
.local/state
.local/bin/cafeobj
.local/share
.config/imgurbash2
.config/discord
.config/rofi
.config/QtProject.conf
.config/obs-studio
.config/neomutt/neonwolf-256.neomuttrc
.config/neomutt/ng_signature
.config/neomutt/smime.rc
.config/htop/htoprc
.config/neomutt/darcula
.config/vifm/vifminfo.json
.config/ncspot
.config/thefuck
.config/taskwarrior-tui
.config/neomutt/gpg.rc
.config/dconf
.config/ibus
.config/uim
.config/mozc
.config/newsboat/
.config/imsettings
.config/mps-youtube
.config/aerc/accounts.conf
.config/Bitcoin/Bitcoin-Qt.conf
.config/Yubico/YubiKey Manager.conf
.local/bin/shellpic
.config/transmission
.local/bin/bitbal
.config/gtk-3.0
.config/bottom
.config/gitui
.config/sonos-controller-unofficial
.config/configstore
.config/autostart
.config/keybase
.config/solana
