[user]
	name = Blake Bartenbach
	email = blakebartenbach@gmail.com

[push]
	default = simple

[alias]
  co = checkout
  ci = commit
  st = status
	pu = push
  br = branch

[color]
 ui = true
 branch = auto
 showbranch = auto
 diff = auto
 interactive = auto
 status = auto
 grep = yes

[merge]
 tool = vimdiff
 log = true

[help]
 autocorrect = 1

[log]
 decorate = full

[diff]
 rename = copies

[core]
	quotepath = off

# vim: set ft=gitconfig noet:
[commit]
	gpgsign = true
