[user]
	name = proxa
	email = blakebartenbach@gmail.com
[push]
	default = simple

[color]
 ui = true
 branch = auto
 showbranch = auto
 diff = auto
 interactive = auto
 status = auto
 grep = yes

[merge]
 tool = vimdiff
 log = true

[help]
 autocorrect = 1

[log]
 decorate = full

[diff]
 rename = copies

# vim: set ft=gitconfig noet:
[core]
	quotepath = off
