!+++++++++++++
! .Xresources 
!+++++++++++++

! [Cursor theme] 
Xcursor*theme: Vanilla-DMZ
Xcursor*size: 24

! [URxvt - General Settings]
URxvt*font: xft:xos4 terminus:pixelsize=17
URxvt*buffered: true
URxvt*background: #000000
URxvt*foreground: Gray
URxvt*throughColor: #8080f0
URxvt*saveLines: 1200
URxvt*visualBell: false
URxvt*cursorColor: gray
URxvt*cursorBlink:true
URxvt*internalBorder: 1
URxvt*externalBorder: 0
URxvt*borderless: true
URxvt*meta: ignore
URxvt*meta8: false
URxvt*iso14755: true
URxvt*iso14755_52: true
URxvt*pointerBlank: true
URxvt*pointerBlankDelay: 1
URxvt*cutchars: "()*,<>[]{}|'"
URxvt*lineSpace: 1
URxvt*tripleclickwords: true

! [URxvt - Scrolling]
URxvt*skipScroll: false
URxvt*scrollBar: false
URxvt*thickness: .5
URxvt*scrollstyle: plain
URxvt*scrollColor: #FF00CC
URxvt*scrollBar_right: true
URxvt*secondaryScroll: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*scrollTtyKeypress: true

! [URxvt - Fast Transparency]
URxvt*transparent: false
URxvt*shading: 100

! [URxvt - Perl Plugins]
URxvt*perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt*urlLauncher: /usr/bin/google-chrome-stable
URxvt*url-select.launcher: /usr/bin/google-chrome-stable
URxvt*url-select.underline: true
URxvt*url-select.button: 2
URxvt*keysym.Mod4-u: perl:url-select:select_next
URxvt*keysym.Mod4-v: perl:keyboard-select:activate
URxvt.keysym.Mod4-s: perl:keyboard-select:search
URxvt*colorUL: #4682B4

! [Misc]
URxvt*insecure: false
URxvt*utmpInhibit: true
URxvt*print-pipe: cat > $(TMPDIR=$HOME mktemp urxvt.XXXXXX)

! [Font Settings]
Xft.autohint: 0
Xft.lcdfilter: lcdlight
Xft.rgba: rgb

! [Color Scheme]
#include ".config/xcolors/proxa_theme"
!#include ".config/xcolors/solarized"
