!+++++++++++++
! .Xresources 
!+++++++++++++

! [Cursor theme] 
Xcursor*theme: Vanilla-DMZ
Xcursor*size: 24

! [URxvt - General Settings]
URxvt*font:-windows-proggycleanszbp-medium-r-normal--13-80-96-96-c-70-iso8859-1
URxvt*buffered: true
URxvt*foreground: Gray
URxvt*throughColor: #8080f0
URxvt*saveLines: 1200
URxvt*visualBell: false
URxvt*cursorColor:#83C048
URxvt*cursorBlink:true
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*borderless: true
URxvt*meta: ignore
URxvt*meta8: false
URxvt*iso14755: false
URxvt*iso14755_52: false
URxvt*pointerBlank: true
URxvt*pointerBlankDelay: 1
URxvt.cutchars: "()*,<>[]{}|'"
URxvt*lineSpace: 1

! [URxvt - Scrolling]
URxvt*skipScroll: false
URxvt*scrollBar: false
!URxvt*scrollStyle: plain
!URxvt*scrollColor: 
!URxvt*scrollBar_right: true
URxvt*secondaryScroll: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*scrollTtyKeypress: true

! [URxvt - Fake Transparency]
URxvt*transparent: true
URxvt*shading: 20

! [URxvt - Perl Plugins and URL Matcher]
URxvt*perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt*urlLauncher: /usr/bin/chromium
URxvt*url-select.launcher: /usr/bin/chromium
URxvt*url-select.underline: true
URxvt*url-select.button: 2
!URxvt*matcher.button: 2
!URxvt*keysym.C-Delete: perl:matcher:last
!URxvt*keysym.M-Delete: perl:matcher:list
URxvt*keysym.Mod4-u: perl:url-select:select_next
URxvt*keysym.Mod4-v: perl:keyboard-select:activate
URxvt.keysym.Mod4-s: perl:keyboard-select:search
! C-u selection mode
URxvt*colorUL: #4682B4

! Misc
URxvt*insecure: false
URxvt*utmpInhibit: true
URxvt*print-pipe: cat > $(TMPDIR=$HOME mktemp urxvt.XXXXXX)

! [Color Scheme]
!#include ".config/xcolors/dwmrob"
!#include ".config/xcolors/derp"
!#include ".config/xcolors/digerati"
!#include ".config/xcolors/gnometerm"
!#include ".config/xcolors/jasonwryan"
!#include ".config/xcolors/phrak1"
!#include ".config/xcolors/rezza"
!#include ".config/xcolors/rydgel"
!#include ".config/xcolors/shiva"
!#include ".config/xcolors/tango"
!#include ".config/xcolors/zenburn"
#include ".config/xcolors/proxa_theme"
