!+++++++++++++++++++++++++++
! .Xresources (seed419)
!+++++++++++++++++++++++++++

! Cursor theme 
Xcursor*theme: Vanilla-DMZ

! URxvt Configuration - General Settings
URxvt*saveLines: 1200

! Scrolling
URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*secondaryScroll: true
!URxvt*scrollTtyOutput: false

! Cursor
URxvt*cursorBlink:true

! Font
URxvt*font:-misc-proggycleanttszbp-medium-r-normal--0-0-0-0-c-0-iso8859-1
!URxvt*boldFont:

! Fake Transparency
URxvt*transparent: true
URxvt*shading: 20

! Crafty stuff - perl
URxvt*perl-ext-common: default,matcher,clipboard
URxvt*urlLauncher: /usr/bin/chromium
URxvt*matcher.button: 1

! Colors
URxvt*foreground: Gray
URxvt*throughColor:     #8080f0

! Dev recommendations
URxvt*meta:             ignore
!URxvt*utmpInhibit:      true
!URxvt*mapAlert:         true
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*borderless: true
URxvt*meta8: true

